section#about3
    .about3
        .container
            .about3-top.table-row
                .about3-top__title.column-4 
                    h2 Our clients 
                .about3-top__desc.column-8
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, reprehenderit saepe totam atque reiciendis quis tenetur, corrupti doloribus suscipit voluptates neque? Nobis aperiam cupiditate tempora blanditiis, harum excepturi nisi aspernatur necessitatibus exercitationem natus suscipit. Provident voluptatum doloribus impedit magnam odit mollitia inventore temporibus, fugit rerum corporis soluta, qui reiciendis modi doloremque esse labore! Quidem ab, enim nostrum eaque alias assumenda tempora, consequatur perspiciatis quas odit architecto deserunt sunt est illum ipsa impedit ad repudiandae quibusdam esse delectus aspernatur blanditiis! Aliquid reprehenderit quod esse. Excepturi ut, quia consectetur obcaecati recusandae dolor praesentium. Dolor voluptatibus asperiores reiciendis mollitia eum provident rerum laboriosam.
                
        .about3-swiper 
            .nav-custom
                .swiper-container.swiperAbout3
                    .swiper-wrapper
                        .swiper-slide
                            .about3-slide.table-row.table-column-3.between
                                .about3-slide__item
                                    img(src="", alt="")
                                .about3-slide__item
                                    img(src="", alt="")
                                .about3-slide__item
                                    img(src="", alt="")
                        .swiper-slide
                            
                        .swiper-slide
                            
                        .swiper-slide
                            
                    .nav
                        .swiper-button-prev
                            <svg xmlns="http://www.w3.org/2000/svg" width="62.048" height="25.789" viewBox="0 0 62.048 25.789">
                                <g id="Group_3912" data-name="Group 3912" transform="translate(-1632.152 -906.391)">
                                    <path id="Path_10910" data-name="Path 10910" d="M-569.05,12571.744l-12.541,12.54,12.541,12.542" transform="translate(2214.45 -11665)" fill="none" stroke="#4e8848" stroke-width="1"/>
                                    <path id="Path_10912" data-name="Path 10912" d="M977.859,12880.285H1039.2" transform="translate(655 -11961)" fill="none" stroke="#4e8848" stroke-width="1"/>
                                </g>
                            </svg>
                        .swiper-button-next
                            <svg xmlns="http://www.w3.org/2000/svg" width="62.048" height="25.789" viewBox="0 0 62.048 25.789">
                                <g id="Group_3913" data-name="Group 3913" transform="translate(0 0.354)">
                                    <path id="Path_10910" data-name="Path 10910" d="M-581.591,12571.744l12.541,12.54-12.541,12.542" transform="translate(630.391 -12571.744)" fill="none" stroke="#4e8848" stroke-width="1"/>
                                    <path id="Path_10912" data-name="Path 10912" d="M1039.2,12880.285H977.859" transform="translate(-977.859 -12867.744)" fill="none" stroke="#4e8848" stroke-width="1"/>
                                </g>
                            </svg>


