section#lm-footer
    .lm-footer
        .lm-footer__bg
            img(src="./assets/images/page/news/ho-boi-du-an-laimian-quy-nhon-chu-dau-tu-hdtc.png", alt="")
        .lm-footer__infor
            .lm-footer__infor--logo
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 490.761 382.2">
                    <g id="lm-LOGO" data-name="Group 2" transform="translate(-163.303 -168.966)">
                        <g id="lm-logo" data-name="Group 3434">
                            <path id="Path_1"  data-name="Path 1" d="M306.519,281.8c36.841.01,53.641-22.32,124.283-49.394,0,0-.874-1.348-3.259-.8-53.18,12.073-79.665,29.449-126.07,30-36.88.439-62.363-12.718-72.424-19.6a55.125,55.125,0,0,0,6.324,8.013c10.864,11.409,37.63,31.771,71.146,31.781" transform="translate(68.513 65.14)" fill="#e0e0e0"/>
                            <path id="Path_2" data-name="Path 2" d="M225.763,220c15.579,18.483,39.8,35.256,75.62,35.346,35.651.09,71.171-20.919,145.437-37.617a3.055,3.055,0,0,0-2.963-1.229c-66.729,7.235-92.061,21.936-147.377,22.218-24.891.129-51.561-9.259-67.007-18.317a5.318,5.318,0,0,0-3.71-.4" transform="translate(65.088 49.514)" fill="#e0e0e0"/>
                            <path id="Path_3" data-name="Path 3" d="M441.436,206.587c-68.326,7.582-124.449,22.741-150.22,22.741-28.985,0-47.673-9.563-59.061-22.046a5.623,5.623,0,0,1,3.845.07c14.819,6.286,28.538,9.857,56.088,10.6,32.163.874,84.994-11.2,146.06-12.591a4,4,0,0,1,3.288,1.223" transform="translate(71.75 37.928)" fill="#e0e0e0"/>
                            <path id="Path_4" data-name="Path 4" d="M423.429,197.773c-62.306,2.742-115.085,16.128-139.75,14.362-16.083-1.154-30.541-6.392-37.4-13.118a3.767,3.767,0,0,1,2.712-.094c14.9,3.553,34.942,4.4,43.3,4.429,34.007.1,78.379-8.434,127.71-6.694,2.583.09,3.424,1.115,3.424,1.115" transform="translate(86.47 28.614)" fill="#e0e0e0"/>
                            <path id="Path_5" data-name="Path 5" d="M402.171,189.282c-24.748,0-62.778,2.3-83.693,2.636-20.537.327-37.774.347-57.918-.5-3.4-.143-3.841.549-3.841.549,7.427,3.98,33.774,7.274,50.07,6.367,19.847-1.107,49.233-4.158,99.754-7.883,0,0-1.148-1.174-4.372-1.174" transform="translate(97.348 21.171)" fill="#e0e0e0"/>
                            <path id="Path_6" data-name="Path 6" d="M388.232,186c-17.164.988-45.642.931-75.692,1.235-27.995.284-37.356-.012-46.633-.535-2.189-.124-2.606-1.2-2.606-1.2,24.877-.88,55.346-2.781,69.815-2.516,15.712.288,38.867,1.482,58.06,1.687A3.588,3.588,0,0,1,388.232,186" transform="translate(104.207 14.577)" fill="#e0e0e0"/>
                            <path id="Path_7" data-name="Path 7" d="M270.952,182.778c13.823-.829,34.695-1.838,52.6-2.236,19.716-.439,34.914-.126,49.067.159,2.587.051,2.585-1.133,2.585-1.133-13.282-1.129-28.716-2.624-41.753-2.649-18.04-.033-39.651,1.527-65.473,4.805,0,0,.137,1.223,2.971,1.054" transform="translate(109.083 8.288)" fill="#e0e0e0"/>
                            <path id="Path_8" data-name="Path 8" d="M274.146,179.653c8.771-1.621,16.041-2.563,31.272-3.578a360.788,360.788,0,0,1,50.691-.116,1.635,1.635,0,0,0,1.5-.69s-21.519-3.488-40.382-2.61c-28.657,1.333-44.6,6.422-44.838,6.557,0,0,.367.694,1.758.437" transform="translate(113.675 3.701)" fill="#e0e0e0"/>
                            <path id="Path_9" data-name="Path 9" d="M309.523,168.966c-18.546.031-29.959,6.087-29.959,6.087a180.185,180.185,0,0,1,25.687-3.457c13.278-.823,24.985-.28,24.985-.28s-7.588-2.373-20.713-2.35" transform="translate(121.153 0)" fill="#e0e0e0"/>
                        </g>
                        <g id="lm-place" data-name="Group 3436">
                            <path id="Path_10" data-name="Path 10" d="M233.09,367.846a15.016,15.016,0,0,0,9.518-20.08,14.585,14.585,0,0,0-3.171-4.75,15.187,15.187,0,0,0-4.77-3.216,15.207,15.207,0,0,0-16.7,3.216,14.623,14.623,0,0,0-3.173,4.75,15.331,15.331,0,0,0,0,11.54,14.608,14.608,0,0,0,3.173,4.752,14.928,14.928,0,0,0,10.733,4.387,36.41,36.41,0,0,0,4.876,2.982,30.1,30.1,0,0,0,5.407,2.148,18.575,18.575,0,0,0,5.091.788v-3.833a20.4,20.4,0,0,1-5.068-.786,60.654,60.654,0,0,1-5.92-1.9M223,363.227a10.764,10.764,0,0,1-3.96-3.982,12.014,12.014,0,0,1,0-11.436,10.579,10.579,0,0,1,3.96-3.984,11.988,11.988,0,0,1,11.415,0,10.579,10.579,0,0,1,3.96,3.984,12.014,12.014,0,0,1,0,11.436,10.765,10.765,0,0,1-3.96,3.982,11.827,11.827,0,0,1-11.415,0" transform="translate(52.486 176.804)" fill="#e0e0e0"/>
                            <path id="Path_11" data-name="Path 11" d="M255.474,356.106a8.814,8.814,0,0,1-1.087,4.664,6.284,6.284,0,0,1-2.9,2.555,10.3,10.3,0,0,1-3.939.831,9.724,9.724,0,0,1-3.939-.788,6.262,6.262,0,0,1-2.9-2.577,8.95,8.95,0,0,1-1.084-4.685V338.9H235.8v17.333a12.407,12.407,0,0,0,1.554,6.367,10.471,10.471,0,0,0,4.215,4.066,13.5,13.5,0,0,0,11.991,0,10.521,10.521,0,0,0,4.194-4.066,12.406,12.406,0,0,0,1.554-6.367V338.9h-3.833Z" transform="translate(75.547 177.087)" fill="#e0e0e0"/>
                            <path id="Path_12" data-name="Path 12" d="M266.67,352.4l-8.348-13.457h-4.6l10.946,17.378v11.156H268.8V355.766l10.947-16.823h-4.6Z" transform="translate(94.226 177.13)" fill="#e0e0e0"/>
                            <path id="Path_13" data-name="Path 13" d="M300.2,359.6l-18.528-20.655h-1.446v28.536h3.831v-20.4l18.528,20.4h1.448V338.943H300.2Z" transform="translate(121.848 177.13)" fill="#e0e0e0"/>
                            <path id="Path_14" data-name="Path 14" d="M320.444,350.954H304.175V338.943h-3.833v28.536h3.833V354.573h16.269v12.906h3.833V338.943h-3.833Z" transform="translate(142.806 177.13)" fill="#e0e0e0"/>
                            <path id="Path_15" data-name="Path 15" d="M345.24,344.355c-.263-.264-.578-.466-.858-.707a6.893,6.893,0,0,0,2.771-1.266c2.22-1.736,2.117-5.036,2.117-5.036H345.9a4.547,4.547,0,0,1-.9,3.043,5.473,5.473,0,0,1-3.463,1.258l.053.1c-.376-.2-.721-.437-1.119-.608a15.752,15.752,0,0,0-11.926,0,15.15,15.15,0,0,0-4.77,3.214,14.56,14.56,0,0,0-3.171,4.752,15.3,15.3,0,0,0,0,11.54,14.551,14.551,0,0,0,3.171,4.75,15.161,15.161,0,0,0,4.77,3.216,15.78,15.78,0,0,0,11.926,0,15.165,15.165,0,0,0,4.77-3.216,14.582,14.582,0,0,0,3.171-4.75,15.306,15.306,0,0,0,0-11.54,14.591,14.591,0,0,0-3.171-4.752m-1.066,16.228a10.763,10.763,0,0,1-3.96,3.982,11.824,11.824,0,0,1-11.413,0,10.776,10.776,0,0,1-3.964-3.982,11.215,11.215,0,0,1-1.446-5.708,11.33,11.33,0,0,1,1.446-5.728,10.573,10.573,0,0,1,3.964-3.982,11.969,11.969,0,0,1,11.413,0,10.56,10.56,0,0,1,3.96,3.982,11.329,11.329,0,0,1,1.448,5.728,11.215,11.215,0,0,1-1.448,5.708" transform="translate(162.742 175.466)" fill="#e0e0e0"/>
                            <path id="Path_16" data-name="Path 16" d="M361.576,338.943V359.6l-18.528-20.656H341.6v28.536h3.835v-20.4l18.526,20.4h1.448V338.943Z" transform="translate(185.801 177.13)" fill="#e0e0e0"/>
                        </g>
                        <g id="lm-name" data-name="Group 3435">
                            <path id="Path_17" data-name="Path 17" d="M322.684,308.119c0-7.4.553-14.5,1.338-17.556H313.129c.784,3.053,1.338,10.159,1.338,17.556v35.234c0,7.4-.553,14.5-1.338,17.556h10.893c-.784-3.053-1.338-10.159-1.338-17.556Z" transform="translate(156.131 126.714)" fill="#e0e0e0"/>
                            <path id="Path_18" data-name="Path 18" d="M244.6,308.119c0-7.4.553-14.5,1.338-17.556H235.042c.784,3.053,1.338,10.159,1.338,17.556v35.234c0,7.4-.553,14.5-1.338,17.556h10.893c-.784-3.053-1.338-10.159-1.338-17.556Z" transform="translate(74.758 126.714)" fill="#e0e0e0"/>
                            <path id="Path_19" data-name="Path 19" d="M426.29,290.564c.784,3.053,1.338,10.159,1.338,17.556v38.32l-48.467-55.875h-4.219c.784,3.047,1.336,10.137,1.338,17.519l0,35.281v-.01c0,7.394-.551,14.5-1.338,17.554h7.231c-.784-3.051-1.338-10.159-1.338-17.554v-38.33l49.359,56.864h1.991V308.12c0-7.4.554-14.5,1.338-17.556Z" transform="translate(220.543 126.715)" fill="#e0e0e0"/>
                            <path id="Path_20" data-name="Path 20" d="M336.241,343.353l.006.166-7.092-52.955h-4.823l-25.887,57.352-26.3-57.352h-4.989l-7.358,52.8c-.995,7.123-2.446,15.573-3.4,17.55h6.878c-.523-3.827.128-10.433,1.111-17.511l5.346-38.375,25.63,55.886h2.218L322.8,305.023l5.489,40.966c.735,6.057,1.129,11.564.672,14.919h10.565c-.953-1.977-2.318-10.378-3.288-17.556" transform="translate(97.013 126.714)" fill="#e0e0e0"/>
                            <path id="Path_21" data-name="Path 21" d="M172.858,357.581V304.338a76.007,76.007,0,0,1,1.284-13.774H163.3c.784,3.053,1.338,10.159,1.338,17.556v35.224c0,7.394-.553,14.5-1.338,17.554h1.338s25.626-.249,33.933.533l1.26-5.994c-3.71,1.156-10.739,2.144-26.976,2.144" transform="translate(0 126.715)" fill="#e0e0e0"/>
                            <path id="Path_22" data-name="Path 22" d="M399.516,361.651c-1.495-2.075-5.054-8.24-9.257-17.556v0c-9.586-21.26-24.462-54.256-24.462-54.254h-2.167L338.911,344.1c-4.26,9.347-7.691,15.849-9.334,17.548H337.3c.4-2.516,2.355-8.2,6.616-17.556l-1.664,3.653L347,337.325h31.211l3.055,6.774c4.247,9.416,6.132,15.036,6.532,17.552ZM348.5,334.042l14.184-31.15,14.019,31.15Z" transform="translate(173.271 125.964)" fill="#e0e0e0"/>
                            <path id="Path_23" data-name="Path 23" d="M259.618,361.651c-1.495-2.075-5.054-8.24-9.257-17.556v0c-9.586-21.26-24.462-54.256-24.462-54.254h-2.167L199.013,344.1c-4.26,9.347-7.691,15.849-9.334,17.548H197.4c.4-2.516,2.355-8.2,6.616-17.556l-1.664,3.653,4.748-10.423h31.211l3.055,6.774c4.248,9.416,6.132,15.036,6.533,17.552ZM208.6,334.042l14.184-31.15,14.019,31.15Z" transform="translate(27.486 125.964)" fill="#e0e0e0"/>
                        </g>
                    </g>
                </svg>
            .lm-footer__infor--slogan
                h1 thiên đường xanh
            .lm-footer__infor--contact
                p Nhơn Hội New City, Quy Nhơn
                p Email: Contact@laimian.vn
                p SĐT: 0929 009 555
            .lm-footer__infor--more
                p Lorem Ipsum is simply dummy text of the printing anfs
            .lm-footer__infor--partner
                - let partner = [["Chủ đầu tư",'./assets/images/page/footer/VXG.png'],['Đơn vị phần phối','./assets/images/page/footer/VXG.png'],['Đơn vị tổng thầu','./assets/images/page/footer/VXG.png']]
                each val in partner
                    .lm-footer__infor--partner_items   
                        .name= val[0]
                        .logo
                            img(src=val[1], alt="")
