section#brn-index-1
    .brn-index-1    
        .brn-index-1__wrapper
            .brn-index-1__wrapper--bg
            .brn-index-1__wrapper--logo
                <svg xmlns="http://www.w3.org/2000/svg" width="684" height="184" viewBox="0 0 684 184">
                    <g id="Group_4125" data-name="Group 4125" transform="translate(-362.686 -253.268)">
                        <g id="Group_4124" data-name="Group 4124">
                        <path id="Path_11166" data-name="Path 11166" d="M364.686,367.268v-114h49c10.361,0,19.226,2.943,26,9s10,12.977,10,21a31.318,31.318,0,0,1-1,9,17.859,17.859,0,0,1-3,6,46.468,46.468,0,0,1-4,5,25.942,25.942,0,0,1-3,3l-2,1c.531.213,1.177-.4,2,0a35.121,35.121,0,0,1,5,3c2.178,1.567,3.353,4.141,5,6s3.645,3.786,5,7a24.724,24.724,0,0,1,2,10c0,9.139-3.721,17.411-11,24s-16.683,10-28,10Zm25-94v25h23c4.038,0,6.663-1.769,9-4a12.125,12.125,0,0,0,0-18c-2.337-2.232-4.962-3-9-3Zm26,74c4.463,0,8.051-2.184,11-5s5-5.855,5-10a15.7,15.7,0,0,0-5-11c-2.949-2.842-6.537-4-11-4h-26v30Z" fill="#fff"/>
                        <path id="Path_11167" data-name="Path 11167" d="M478.686,253.268h50c11.317,0,20.588,3.748,28,11s12,15.48,12,26c0,4.57-1.566,9.015-3,13a36.55,36.55,0,0,1-5,10,44.062,44.062,0,0,1-6,6c-2.019,1.754-3.565,3.362-5,4l-2,1,25,43h-26l-22-40h-22v40h-24Zm61,26c-2.949-2.922-6.537-4-11-4h-26v30h26c4.463,0,8.051-1.158,11-4s4-6.855,4-11C543.686,285.8,542.635,282.191,539.686,279.268Z" fill="#fff"/>
                        <path id="Path_11168" data-name="Path 11168" d="M617.686,340.268l-10,27h-26l45-114h26l45,114h-27l-9-27Zm22-59-14,38h27Z" fill="#fff"/>
                        <path id="Path_11169" data-name="Path 11169" d="M815.686,253.268v114h-21l-57-73v73h-24v-114h21l56,72v-72Z" fill="#fff"/>
                        <path id="Path_11170" data-name="Path 11170" d="M930.686,345.268v22h-86v-114h84v22h-59v23h46v22h-46v25Z" fill="#fff"/>
                        <path id="Path_11171" data-name="Path 11171" d="M993.686,302.268l27-49h26l-41,73v41h-25v-41l-40-73h26Z" fill="#fff"/>
                        </g>
                        <text id="YOUR_BRAND_KEY" data-name="YOUR BRAND KEY" transform="translate(362.686 425.268)" fill="#fff" font-size="49" font-family="SegoeUI, Segoe UI" letter-spacing="0.4em"><tspan x="0" y="0">YOUR BRAND KEY</tspan></text>
                    </g>
                </svg>
            .brn-index-1__wrapper--wave
                //- .brn-index-1__wrapper--wave_big
                //-     img(src="./assets/images/page/Index/wave-1.png", alt="").wave-1
                //-     img(src="./assets/images/page/Index/wave-2.png", alt="").wave-2
                //-     img(src="./assets/images/page/Index/wave-3.png", alt="").wave-3
                .brn-index-1__wrapper--wave_bottom
                    .wave


