section#brn-index-4
    .brn-index-4 
        .container.brn-index-4__wrapper
            .brn-index-4__wrapper--intro
                .brn-index-4__wrapper--intro_title.column-4
                    p Project
                .brn-index-4__wrapper--intro_decs.column-8
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cusociis natoque penatibus et magnis dis parturient.Lorem ipsum dolor sit amet
            .brn-index-4__wrapper--project
                .nav-custom
                    .swiper-container.MyProjects
                        .swiper-wrapper
                            .swiper-slide
                                .brn-index-4__wrapper--project_items
                                    .items
                                        .items-header 
                                            img(src="./assets/images/page/project/project-1.png", alt="")
                                        .items-main
                                            .items-main__name
                                                p TPCom
                                            .items-main__sub
                                                p Branding
                                        .items-footer 
                                            a(href="").btn-see-more 
                                                span see more
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20.193" height="33.261" viewBox="0 0 20.193 33.261">
                                                    <path id="Path_10913" data-name="Path 10913" d="M-2641,11332.751l18.018,15.946-18.018,15.813" transform="translate(2641.663 -11332.002)" fill="none" stroke="#4e8848" stroke-width="2"/>
                                                </svg>
                            .swiper-slide
                                .brn-index-4__wrapper--project_items
                                    .items
                                        .items-header 
                                            img(src="./assets/images/page/project/project-2.png", alt="")
                                        .items-main
                                            .items-main__name
                                                p Vietsolution
                                            .items-main__sub
                                                p Branding
                                        .items-footer 
                                            a(href="").btn-see-more 
                                                span see more
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20.193" height="33.261" viewBox="0 0 20.193 33.261">
                                                    <path id="Path_10913" data-name="Path 10913" d="M-2641,11332.751l18.018,15.946-18.018,15.813" transform="translate(2641.663 -11332.002)" fill="none" stroke="#4e8848" stroke-width="2"/>
                                                </svg>
                            .swiper-slide
                                .brn-index-4__wrapper--project_items
                                    .items
                                        .items-header 
                                            img(src="./assets/images/page/project/project-3.png", alt="")
                                        .items-main
                                            .items-main__name
                                                p Celadon
                                            .items-main__sub
                                                p Branding
                                        .items-footer 
                                            a(href="").btn-see-more 
                                                span see more
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20.193" height="33.261" viewBox="0 0 20.193 33.261">
                                                    <path id="Path_10913" data-name="Path 10913" d="M-2641,11332.751l18.018,15.946-18.018,15.813" transform="translate(2641.663 -11332.002)" fill="none" stroke="#4e8848" stroke-width="2"/>
                                                </svg>
                            .swiper-slide
                                .brn-index-4__wrapper--project_items
                                    .items
                                        .items-header 
                                            img(src="./assets/images/page/project/project-1.png", alt="")
                                        .items-main
                                            .items-main__name
                                                p Hoa Binh Resort
                                            .items-main__sub
                                                p Branding
                                        .items-footer 
                                            a(href="").btn-see-more 
                                                span see more
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20.193" height="33.261" viewBox="0 0 20.193 33.261">
                                                    <path id="Path_10913" data-name="Path 10913" d="M-2641,11332.751l18.018,15.946-18.018,15.813" transform="translate(2641.663 -11332.002)" fill="none" stroke="#4e8848" stroke-width="2"/>
                                                </svg>
                    .nav
                        .swiper-button-prev
                            <svg xmlns="http://www.w3.org/2000/svg" width="62.048" height="25.789" viewBox="0 0 62.048 25.789">
                                <g id="Group_3912" data-name="Group 3912" transform="translate(-1632.152 -906.391)">
                                    <path id="Path_10910" data-name="Path 10910" d="M-569.05,12571.744l-12.541,12.54,12.541,12.542" transform="translate(2214.45 -11665)" fill="none" stroke="#4e8848" stroke-width="1"/>
                                    <path id="Path_10912" data-name="Path 10912" d="M977.859,12880.285H1039.2" transform="translate(655 -11961)" fill="none" stroke="#4e8848" stroke-width="1"/>
                                </g>
                            </svg>
                        .swiper-button-next
                            <svg xmlns="http://www.w3.org/2000/svg" width="62.048" height="25.789" viewBox="0 0 62.048 25.789">
                                <g id="Group_3913" data-name="Group 3913" transform="translate(0 0.354)">
                                    <path id="Path_10910" data-name="Path 10910" d="M-581.591,12571.744l12.541,12.54-12.541,12.542" transform="translate(630.391 -12571.744)" fill="none" stroke="#4e8848" stroke-width="1"/>
                                    <path id="Path_10912" data-name="Path 10912" d="M1039.2,12880.285H977.859" transform="translate(-977.859 -12867.744)" fill="none" stroke="#4e8848" stroke-width="1"/>
                                </g>
                            </svg>

                            

