section#brn-index-6
    .brn-index-6
        .container.brn-index-6__wrapper
            .brn-index-6__wrapper--process.column-4
                .brn-index-6__wrapper--process__title
                    p Client
                .brn-index-6__wrapper--process__list
                    .brn-index-6__wrapper--process__list-items
                        ol
                            li 
                                .items.active
                                    .items-name
                                        p Research
                                        span
                                    .items-infor.active
                                        p Listen, learn, research and gather information about your project. This is the first approach based on feedback from your strategic blueprint.
                            li 
                                .items
                                    .items-name
                                        p Find ideas
                                        span
                                    .items-infor
                                        ul 
                                            li 
                                                p Listen, learn, research and gather information about your project. This is the first approach based on feedback from your strategic blueprint.
                                            li 
                                                p Listen, learn, research and gather information about your project. This is the first approach based on feedback from your strategic blueprint.
                            li 
                                .items
                                    .items-name
                                        p Concept
                                        span
                                    .items-infor
                                        p Listen, learn, research and gather information about your project. This is the first approach based on feedback from your strategic blueprint.
                            li 
                                .items
                                    .items-name
                                        p Develop the idea
                                        span
                                    .items-infor
                                        p Listen, learn, research and gather information about your project. This is the first approach based on feedback from your strategic blueprint.
                            li 
                                .items
                                    .items-name
                                        p  Complete
                                        span
                                    .items-infor
                                        p Listen, learn, research and gather information about your project. This is the first approach based on feedback from your strategic blueprint.
            .brn-index-6__wrapper--project.column-8
                


                
                          

